@lightpink: #ef7daf;
@darkpink: #e52f7f;
@lightgray: #9B9B9B;
@darkgray: #5B5B5B;
@blue: #0086D9;
@lightblue: #59a6d6;
@lightyellow: #F9F871;
@darkyellow: #C69C47;
@sunshineyellow: #FFD967;
@lightgreen: #00B9AD;
@lightbrown: #8C6911;

@fontbai: "Bai Jamjuree";
@fontopen: "Open Sans";

@mobileheader: 0px;


html {
    font-family: @fontopen;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font: @fontopen;
}

#background-video {
    width: 100%;
    height: 96px;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.navbar {
    background: black;
}
.navbar-nav {
    align-items: right;
    text-align: center;
}
.nav-link,
.navbar-brand {
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    color: @lightgray !important;
    font-weight: 500;
}
.nav-link:hover {
    color: @lightpink !important;
    transition-duration: 0.2s;
}
.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand span {
    color: @lightgray;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
}

.navbar-brand span:hover {
    color: @lightgray;
    text-decoration: none;
}

.heading-text, .nav-link {
    font-family: @fontbai;
}

.description-text {
    font-family: @fontopen, sans-serif !important;
}

.fa-15x {
    font-size: 1.5em;
}

.fa-125x {
    font-size: 1.25em;
}

#topHeader {

    .heading-text {
        color: white;
        font-size: 1.25rem;
        font-weight: 300;
    }

    .topHeader-description-large {
        color: white;
    }

    ul{
        list-style-type: none;
        padding-left: 0px;
    }

    li {
        display: inline-block;
        margin: 0 5px;
        text-align: center;
    }

    li a {
        color: white;
    }

    li a:hover {
        color: @lightpink !important;
    }

    .imp-links img{
        width: 40px;
    }

    .imp-links img:hover {
        filter: invert(40%) sepia(14%) saturate(1569%) hue-rotate(284deg) brightness(100%) contrast(88%);
    }
    
}

@keyframes come-down {
    to {
        transform: translateY(0px);
    }
}

@keyframes left-in {
    to {
        transform: translateX(0px);
    }
}

@keyframes left-in-fade {
    from {opacity: 0;}
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes right-in {
    to {transform: translateX(0px);}
}

@keyframes right-in-fade {
    from {opacity: 0;}
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes bottom-up-fade {
    from {opacity: 0;}
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fading-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#about {
    padding-bottom: 35px;

    .artist-type {
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
    }

    .square-pink {
        background-color: @lightpink;
        width: 100%;
    }

    .square-blue {
        background-color: #545af8;
        width: 100%;
    }

    .square-green {
        background-color: @lightgreen;
        width: 100%;
    }

    .square-gray {
        background-color: @lightgray;
        width: 100%;
    }

    .square-yellow {
        background-color: @darkyellow;
        width: 100%;
    }
}

.serenity-button-pink {
    background-color: @darkpink;
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
    border-style: none;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 32px;
}

.serenity-button-pink:hover {
    color: white !important;
    box-shadow: 0px 0px 14px 4px @lightpink;
    transition: 0.2s;
    text-decoration: none;
}

.serenity-button-blue {
    background-color: @blue;
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
    border-style: none;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 32px;
}

.serenity-button-blue:hover {
    color: white !important;
    box-shadow: 0px 0px 14px 4px @lightblue;
    transition: 0.2s;
    text-decoration: none;
}

.serenity-button-yellow {
    background-color: @darkyellow;
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
    border-style: none;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 32px;
}

.serenity-button-yellow:hover {
    color: white !important;
    box-shadow: 0px 0px 14px 4px @sunshineyellow;
    transition: 0.2s;
    text-decoration: none;
}

.serenity-button-blue-glow {
    background: #07172E;
    border: 3px solid #2081E2;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 20px;
    color: white !important;
}
.serenity-button-blue-glow:hover {
    box-shadow: 0px 0px 16px -2px #49C8FF;
    color: white !important;
    transition-duration: 0.2s;
    text-decoration: none;
}

.serenity-dots {
    opacity: 0.5;
    height: 50px;
    margin: 15px;
    opacity: 0;

    &.active {
        will-change: transform;
        transition-delay: 1s;
        animation: fading-in 2s forwards ease;
    }
}

#tokenomics {
    padding-bottom: 25px;

    .description-text {
        a {
            font-size: 0.9rem;
            color: @darkpink;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: @lightpink;
        }
    }

    .tokenomics-box {
        border: 2px solid @lightgray;
        border-radius: 15px;
        padding: 15px 0;
        opacity: 0;

        &.active {
            will-change: transform;
            transition-delay: 1s;
            animation: fading-in 2s forwards ease;
        }
    }

    .extend-lines {
        opacity: 0;

        &.active {
            will-change: transform;
            transition-delay: 1s;
            animation: fading-in 2s forwards ease;
        }
    }
}

#roadmap {
    background: linear-gradient(180deg, #B4B4B4 0%, white 100%);

    .growth-step {
        font-weight: 600;
        font-size: 1.5em;
    }

    ul {
        list-style-type: none;
        padding-left: 0px;
    }

    li {
        list-style-type: none;
        padding-left: 0px;
        padding-top: 10px;
    }

    .fa-check {
        color: @lightgreen;
    }

    .fa-spinner {
        color: @blue;
    }
}

#nft {
    background-image: url('../images/background_nft.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 35px;
    color: white;
}

#team {

    .profile-holder {
        height:200px;
        background:white;
        margin: 0 auto;
    }
    
    .profile-thumb{
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
    }
    
    .profile-thumb img {
        display: block;
        height: 100%;
        border-radius: 100%;
        width: auto !important;
        margin: 0 auto;
        -moz-transition: all .6s;
        -webkit-transition: all .6s;
        transition: all .6s;
        transform: translate3d(0px, 0px, 0px);
    }
    
    .profile-name {
        font-family: @fontbai;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        font-feature-settings: 'liga' off;
        margin-top: 15px;
    }
    
    .profile-designation {
        font-family: @fontopen;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        font-feature-settings: 'liga' off;
    }
    
    .profile-social {
        font-size: 1.5em;

        ul {
            list-style-type: none;
            padding-left: 0px;
        }

        li {
            display: inline-block;
            margin: 0 15px;
            list-style-type: none;
            padding-left: 0px;
        }

        hr {
            width: 50% !important;
            color: @darkgray;
        }

        a {
            color: @lightgray !important;
            cursor: pointer;

            &:hover {
                color: @lightpink !important;
            }
        }
    }
}

#profileModal {

    .modal-body {
        padding: 0px;
    }

    .profile-photo {

        .photo {
            height: 250px;
            width: 250px;
            overflow: hidden;
            margin: 0 auto;
            cursor: auto;
            position: relative;

            img {
                display: block;
                height: 100%;
                width: auto !important;
                margin: 0 auto;
                border-radius: 15px;
            }
        }

        .profile-name {
            font-family: @fontbai;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            font-feature-settings: 'liga' off;
            color: white;
        }
    
        .profile-designation {
            font-family: @fontopen;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            font-feature-settings: 'liga' off;
            color: white;
        }

        .profile-social {

            ul {
                list-style-type: none;
                padding-left: 0px;
            }
    
            li {
                list-style-type: none;
                padding-left: 0px;
            }

            a {
                color: white !important;
    
                &:hover {
                    color: @lightgray !important;
                }
            }
        }
    }
    
    ul a {
        color: white;
        cursor: pointer;
    }
    
    .profile-social hr {
        color: @darkgray;
        width: 80% !important;
    }
    
    ul a:hover {
        color: @lightgray !important;
    }
}

.contract-address {
    background-color: rgba(0,0,0,0.1);
    font-family: @fontopen;
    color: black;
    border-radius: 12px;
    padding: 15px 5px !important;
    font-size: 0.9em;
}

.learn-button {
    margin-top: 75px;
}

.section-subtitle {
    margin-top: 35px;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#contact {
    background: linear-gradient(180deg, white 0%, #DDD7C6 50%);
}


@media only screen and (max-width: 896px) {

    #serenity-navbar {
        video {
            display: none;
        }
    }

    #topHeader {
        background-image: linear-gradient(0deg, rgba(51,51,51,0.65),rgba(51,51,51,0.65)), url('../images/top_background.jpg');
        background-position: center;
        background-repeat: no-repeat;

        padding-top: 115px;
        background-size: 400%;
        padding-bottom: 80px;

        .navbar-brand span {
            margin-left: 10px;
        }

        .topHeader-branding {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: bold;
            padding-top: 3px;
            color: white;
            font-size: 1.125rem;
        }

        .topHeader-description-large {
            padding-top: 15px;
            padding-bottom: 55px;
            font-size: 3.5rem !important;
            font-weight: 400 !important;
            line-height: 1;
        }

        .topHeader-description-small {
            padding-top: 50px;
            line-height: 1.7;
            text-align: center;
        }

        .topHeader-important {
            color: white;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.2;
        }
    }

    .section-title {
        font-size: 2em;
        padding-top: 90px;
        padding-bottom: 25px;
    }

    .section-subtitle {
        font-size: 1.75em;
    }

    .section-header {
        &::before {
            content: "";
            display: block;
            background: transparent;
            height: @mobileheader;
            margin: -@mobileheader 0 0;
        }
    }

    #tokenomics {

        .tokenomics-box {
            margin: 0 15px !important;
        }

        .learn-button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    #about {
        position: relative;
        background-image: url('../images/background_about_50.png');
        background-size: 700%;
        background-position: bottom;
        background-repeat: no-repeat;

        .section-title {
            color: black;
        }

        .square {
            height: 285px;
            padding-top: 50px;
            opacity: 0;
        }

        .sculpture {
            opacity: 0;
        }

        .sculpture.active {
            will-change: transform;
            transform: translateY(200px);
            transition-delay: 1s;
            animation: bottom-up-fade 1s forwards;
        }

        .singers.active {
            will-change: transform;
            transform: translateY(200px);
            transition-delay: 1s;
            animation: bottom-up-fade 1s forwards ease;
        }

        .artists.active {
            will-change: transform;
            transform: translateY(200px);
            transition-delay: 1s;
            animation: bottom-up-fade 1s forwards ease;
        }

        .graphics.active {
            will-change: transform;
            transform: translateY(200px);
            transition-delay: 1s;
            animation: bottom-up-fade 1s forwards ease;
        }

        .talent.active {
            will-change: transform;
            transform: translateY(200px);
            transition-delay: 1s;
            animation: bottom-up-fade 1s forwards ease;
        }
    }

    #team {
        .profile-social {
            margin-bottom: 50px;
        }
    }

    #profileModal {

        .modal-dialog {
            margin: 10px auto;
            max-width: 90%;
        }

        .profile-photo {
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding: 0 25px 25px 25px;
        }

        .profile-content {
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding-top: 15px;
        }

        .profile-content-text {
            padding: 30px;
            font-size: 1.125em;
        }
    }

    footer {
        .title {
            font-size: 1.5em;
        }
    }
}


@media only screen and (min-width: 897px) {

    #topHeader {
        background-image: linear-gradient(0deg, rgba(51,51,51,0.65),rgba(51,51,51,0.65)), url('../images/top_background.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        
        padding-top: 115px;
        background-size: 100%;
        padding-bottom: 100px;

        .navbar-brand span {
            margin-left: 15px;
        }

        .topHeader-branding {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: bold;
            color: white;
            font-size: 1.125rem;
            padding-top: 40px;
            transform: translateY(-40px);
            transition-delay: 1s;
            animation: come-down 1s forwards;
        }

        .topHeader-description-large {
            font-size: 4.5rem !important;
            font-weight: 400 !important;
            transform: translateX(-500px);
            transition-delay: 1s;
            animation: left-in 1s forwards;
            margin-bottom: 30px;
        }

        .topHeader-description-small {
            padding-top: 50px;
            line-height: 1.7;
            transform: translateX(500px);
            transition-delay: 1s;
            animation: right-in 1s forwards;
        }

        .topHeader-important {
            color: white;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.2;
            transform: translateX(-200px);
            transition-delay: 1s;
            animation: left-in 1s forwards;
        }

        .topHeader-learn-button {
            margin-top: 75px;
            transform: translateX(200px);
            transition-delay: 2s;
            animation: right-in 1s forwards;
        }
    }

    .section-title {
        font-size: 4.5em;
        padding-top: 80px;;
    }

    .section-subtitle {
        font-size: 3em;
    }

    #tokenomics {
        background: linear-gradient(180deg, white 90%, #E0EAEF 100%);

        .learn-button {
            margin-bottom: 75px;
        }
    }

    #about {
        background-image: url('../images/background_about_50.png');
        background-size: cover;
        background-position: center;

        .square {
            height: 285px;
            padding-top: 55px;
        }

        .slide {
            opacity: 0;
        }

        .sculpture.active {
            transform: translateX(-500px);
            transition-delay: 1s;
            animation: left-in-fade 1s forwards;
        }

        .singers.active {
            transform: translateX(100px);
            transition-delay: 1s;
            animation: right-in-fade 1s forwards ease;
        }

        .artists.active {
            transform: translateX(200px);
            transition-delay: 1s;
            animation: right-in-fade 1s forwards ease;
        }

        .graphics.active {
            transform: translateX(300px);
            transition-delay: 1s;
            animation: right-in-fade 1s forwards ease;
        }

        .talent.active {
            transform: translateX(400px);
            transition-delay: 1s;
            animation: right-in-fade 1s forwards ease;
        }
    }

    #profileModal {

        .modal-dialog {
            max-width: 976px;
        }

        .profile-photo {
            background-color: white;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding: 45px;
        }

        .profile-content {
            background-color: white;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding-top: 15px;
        }

        .profile-content-text {
            padding: 100px 30px 0 30px;
            font-size: 1.125em;
        }
    }

    footer {
        .title {
            font-size: 1.125em;
        }
    }

}

footer {
    padding-top: 15px;
    background-color: black;
    color: @lightgray;
    font-family: @fontopen;

    .heading-text {
        margin-left: 5px;
        font-weight: 500;
    }

    .title {
        margin-top: 20px;
        font-family: @fontbai;
        margin-bottom: 10px;
    }

    ul{
        list-style-type: none;
        padding-left: 0px;
    }

    li {
        display: inline-block;
        width: 15%;
        text-align: center;
    }

    i {
        font-size: 1.5em;
    }

    a {
        color: @lightgray;
        text-decoration: none;
    }

    a:hover {
        color: @lightpink;
        text-decoration: none;
    }
}