html {
  font-family: "Open Sans";
  font-size: 16px;
  scroll-behavior: smooth;
}
#background-video {
  width: 100%;
  height: 96px;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
.navbar {
  background: black;
}
.navbar-nav {
  align-items: right;
  text-align: center;
}
.nav-link,
.navbar-brand {
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
  color: #9B9B9B !important;
  font-weight: 500;
}
.nav-link:hover {
  color: #ef7daf !important;
  transition-duration: 0.2s;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand span {
  color: #9B9B9B;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}
.navbar-brand span:hover {
  color: #9B9B9B;
  text-decoration: none;
}
.heading-text,
.nav-link {
  font-family: "Bai Jamjuree";
}
.description-text {
  font-family: "Open Sans", sans-serif !important;
}
#topHeader .heading-text {
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
}
#topHeader .topHeader-description-large {
  color: white;
}
#topHeader ul {
  list-style-type: none;
  padding-left: 0px;
}
#topHeader li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}
#topHeader li a {
  color: white;
}
#topHeader li a:hover {
  color: #ef7daf !important;
}
#topHeader .imp-links img {
  width: 40px;
}
#topHeader .imp-links img:hover {
  filter: invert(40%) sepia(14%) saturate(1569%) hue-rotate(284deg) brightness(100%) contrast(88%);
}
@keyframes come-down {
  to {
    transform: translateY(0px);
  }
}
@keyframes left-in {
  to {
    transform: translateX(0px);
  }
}
@keyframes left-in-fade {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes right-in {
  to {
    transform: translateX(0px);
  }
}
@keyframes right-in-fade {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes bottom-up-fade {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fading-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#about {
  padding-bottom: 35px;
}
#about .artist-type {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}
#about .square-pink {
  background-color: #ef7daf;
  width: 100%;
}
#about .square-blue {
  background-color: #545af8;
  width: 100%;
}
#about .square-green {
  background-color: #00B9AD;
  width: 100%;
}
#about .square-gray {
  background-color: #9B9B9B;
  width: 100%;
}
#about .square-yellow {
  background-color: #C69C47;
  width: 100%;
}
.serenity-button-pink {
  background-color: #e52f7f;
  color: white;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 32px;
}
.serenity-button-pink:hover {
  color: white !important;
  box-shadow: 0px 0px 14px 4px #ef7daf;
  transition: 0.2s;
  text-decoration: none;
}
.serenity-button-blue {
  background-color: #0086D9;
  color: white;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 32px;
}
.serenity-button-blue:hover {
  color: white !important;
  box-shadow: 0px 0px 14px 4px #59a6d6;
  transition: 0.2s;
  text-decoration: none;
}
.serenity-button-yellow {
  background-color: #C69C47;
  color: white;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 32px;
}
.serenity-button-yellow:hover {
  color: white !important;
  box-shadow: 0px 0px 14px 4px #FFD967;
  transition: 0.2s;
  text-decoration: none;
}
.serenity-button-blue-glow {
  background: #07172E;
  border: 3px solid #2081E2;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 20px;
  color: white !important;
}
.serenity-button-blue-glow:hover {
  box-shadow: 0px 0px 16px -2px #49C8FF;
  color: white !important;
  transition-duration: 0.2s;
  text-decoration: none;
}
.serenity-dots {
  opacity: 0.5;
  height: 50px;
  margin: 15px;
  opacity: 0;
}
.serenity-dots.active {
  transition-delay: 1s;
  animation: fading-in 2s forwards ease;
}
#tokenomics {
  padding-bottom: 25px;
}
#tokenomics .description-text a {
  font-size: 0.9rem;
  color: #e52f7f;
  text-decoration: none;
}
#tokenomics .description-text a:hover {
  text-decoration: none;
  color: #ef7daf;
}
#tokenomics .tokenomics-box {
  border: 2px solid #9B9B9B;
  border-radius: 15px;
  padding: 15px 0;
  opacity: 0;
}
#tokenomics .tokenomics-box.active {
  transition-delay: 1s;
  animation: fading-in 2s forwards ease;
}
#tokenomics .extend-lines {
  opacity: 0;
}
#tokenomics .extend-lines.active {
  transition-delay: 1s;
  animation: fading-in 2s forwards ease;
}
#nft {
  background-image: url('../images/background_nft.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 35px;
  color: white;
}
#team .profile-holder {
  height: 200px;
  background: white;
  margin: 0 auto;
}
#team .profile-thumb {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
#team .profile-thumb img {
  display: block;
  height: 100%;
  border-radius: 100%;
  width: auto !important;
  margin: 0 auto;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  transform: translate3d(0px, 0px, 0px);
}
#team .profile-name {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: 'liga' off;
  margin-top: 15px;
}
#team .profile-designation {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: 'liga' off;
}
#team .profile-social {
  font-size: 1.5em;
}
#team .profile-social ul {
  list-style-type: none;
  padding-left: 0px;
}
#team .profile-social li {
  list-style-type: none;
  padding-left: 0px;
}
#team .profile-social hr {
  width: 50% !important;
  color: black;
}
#team .profile-social a {
  color: #9B9B9B !important;
}
#team .profile-social a:hover {
  color: #ef7daf !important;
}
#profileModal .modal-body {
  padding: 0px;
}
#profileModal .profile-photo .photo {
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  cursor: auto;
  position: relative;
}
#profileModal .profile-photo .photo img {
  display: block;
  height: 100%;
  width: auto !important;
  margin: 0 auto;
  border-radius: 15px;
}
#profileModal .profile-photo .profile-name {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #000000;
}
#profileModal .profile-photo .profile-designation {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #000000;
}
#profileModal .profile-photo .profile-social ul {
  list-style-type: none;
  padding-left: 0px;
}
#profileModal .profile-photo .profile-social li {
  list-style-type: none;
  padding-left: 0px;
}
#profileModal .profile-photo .profile-social a {
  color: black !important;
}
#profileModal .profile-photo .profile-social a:hover {
  color: white !important;
}
#profileModal ul a {
  color: black;
  cursor: pointer;
}
#profileModal .profile-social hr {
  border: 1px solid #5B5B5B;
  width: 80% !important;
}
#profileModal ul a:hover {
  color: white!important;
}
.contract-address {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Open Sans";
  color: black;
  border-radius: 12px;
  padding: 15px 5px !important;
  font-size: 0.9em;
}
.learn-button {
  margin-top: 75px;
}
.section-subtitle {
  margin-top: 35px;
}
.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#contact {
  background: linear-gradient(180deg, white 0%, #DDD7C6 50%);
}
@media only screen and (max-width: 896px) {
  #serenity-navbar video {
    display: none;
  }
  #topHeader {
    background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url('../images/top_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    background-size: 400%;
    padding-bottom: 80px;
  }
  #topHeader .navbar-brand span {
    margin-left: 10px;
  }
  #topHeader .topHeader-branding {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    padding-top: 3px;
    color: white;
    font-size: 1.125rem;
  }
  #topHeader .topHeader-description-large {
    padding-top: 15px;
    padding-bottom: 55px;
    font-size: 3.5rem !important;
    font-weight: 400 !important;
    line-height: 1;
  }
  #topHeader .topHeader-description-small {
    padding-top: 50px;
    line-height: 1.7;
    text-align: center;
  }
  #topHeader .topHeader-important {
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .section-title {
    font-size: 2em;
    padding-top: 90px;
    padding-bottom: 25px;
  }
  .section-subtitle {
    font-size: 1.75em;
  }
  .section-header::before {
    content: "";
    display: block;
    background: transparent;
    height: 0px;
    margin: 0px 0 0;
  }
  #tokenomics .tokenomics-box {
    margin: 0 15px !important;
  }
  #tokenomics .learn-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #about {
    position: relative;
    background-image: url('../images/background_about_50.png');
    background-size: 700%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  #about .section-title {
    color: black;
  }
  #about .square {
    height: 285px;
    padding-top: 50px;
    opacity: 0;
  }
  #about .sculpture {
    opacity: 0;
  }
  #about .sculpture.active {
    transform: translateY(200px);
    transition-delay: 1s;
    animation: bottom-up-fade 1s forwards;
  }
  #about .singers.active {
    transform: translateY(200px);
    transition-delay: 1s;
    animation: bottom-up-fade 1s forwards ease;
  }
  #about .artists.active {
    transform: translateY(200px);
    transition-delay: 1s;
    animation: bottom-up-fade 1s forwards ease;
  }
  #about .graphics.active {
    transform: translateY(200px);
    transition-delay: 1s;
    animation: bottom-up-fade 1s forwards ease;
  }
  #about .talent.active {
    transform: translateY(200px);
    transition-delay: 1s;
    animation: bottom-up-fade 1s forwards ease;
  }
  #profileModal .modal-dialog {
    margin: 10px auto;
    max-width: 90%;
  }
  #profileModal .profile-photo {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 25px 25px 25px;
  }
  #profileModal .profile-content {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
  }
  #profileModal .profile-content-text {
    padding: 30px;
    font-size: 1.125em;
  }
  footer .title {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 897px) {
  #topHeader {
    background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url('../images/top_background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    background-size: 100%;
    padding-bottom: 100px;
  }
  #topHeader .navbar-brand span {
    margin-left: 15px;
  }
  #topHeader .topHeader-branding {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
    font-size: 1.125rem;
    padding-top: 40px;
    transform: translateY(-40px);
    transition-delay: 1s;
    animation: come-down 1s forwards;
  }
  #topHeader .topHeader-description-large {
    font-size: 4.5rem !important;
    font-weight: 400 !important;
    transform: translateX(-500px);
    transition-delay: 1s;
    animation: left-in 1s forwards;
    margin-bottom: 30px;
  }
  #topHeader .topHeader-description-small {
    padding-top: 50px;
    line-height: 1.7;
    transform: translateX(500px);
    transition-delay: 1s;
    animation: right-in 1s forwards;
  }
  #topHeader .topHeader-important {
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    transform: translateX(-200px);
    transition-delay: 1s;
    animation: left-in 1s forwards;
  }
  #topHeader .topHeader-learn-button {
    margin-top: 75px;
    transform: translateX(200px);
    transition-delay: 2s;
    animation: right-in 1s forwards;
  }
  .section-title {
    font-size: 4.5em;
    padding-top: 80px;
  }
  .section-subtitle {
    font-size: 3em;
  }
  #tokenomics {
    background: linear-gradient(180deg, white 90%, #E0EAEF 100%);
  }
  #tokenomics .learn-button {
    margin-bottom: 75px;
  }
  #about {
    background-image: url('../images/background_about_50.png');
    background-size: cover;
    background-position: center;
  }
  #about .square {
    height: 285px;
    padding-top: 55px;
  }
  #about .slide {
    opacity: 0;
  }
  #about .sculpture.active {
    transform: translateX(-500px);
    transition-delay: 1s;
    animation: left-in-fade 1s forwards;
  }
  #about .singers.active {
    transform: translateX(100px);
    transition-delay: 1s;
    animation: right-in-fade 1s forwards ease;
  }
  #about .artists.active {
    transform: translateX(200px);
    transition-delay: 1s;
    animation: right-in-fade 1s forwards ease;
  }
  #about .graphics.active {
    transform: translateX(300px);
    transition-delay: 1s;
    animation: right-in-fade 1s forwards ease;
  }
  #about .talent.active {
    transform: translateX(400px);
    transition-delay: 1s;
    animation: right-in-fade 1s forwards ease;
  }
  #profileModal .modal-dialog {
    max-width: 976px;
  }
  #profileModal .profile-photo {
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 45px;
  }
  #profileModal .profile-content {
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
  }
  #profileModal .profile-content-text {
    padding: 100px 30px 0 30px;
    font-size: 1.125em;
  }
  footer .title {
    font-size: 1.125em;
  }
}
footer {
  padding-top: 15px;
  background-color: black;
  color: #9B9B9B;
  font-family: "Open Sans";
}
footer .heading-text {
  margin-left: 5px;
  font-weight: 500;
}
footer .title {
  margin-top: 20px;
  font-family: "Bai Jamjuree";
  margin-bottom: 10px;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer li {
  display: inline-block;
  width: 19%;
  text-align: center;
}
footer i {
  font-size: 1.5em;
}
footer a {
  color: #9B9B9B;
  text-decoration: none;
}
footer a:hover {
  color: #ef7daf;
  text-decoration: none;
}
